flows.json
[
    {
        "id": "dacb2b5a68bc15c1",
        "type": "tab",
        "label": "Bateria",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "27beda28a8df6d75",
        "type": "tab",
        "label": "Acelerometro",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f3c80216c5dbfd7c",
        "type": "tab",
        "label": "Camera",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b68fe3d0192d3bcb",
        "type": "tab",
        "label": "Distancias",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "71b4fa526bc1e501",
        "type": "tab",
        "label": "Raspberry monitoring",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f1d4d53cfd0488eb",
        "type": "group",
        "z": "dacb2b5a68bc15c1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "18700f688b843fa0",
            "6ed831f590f24fee",
            "47ad31bf9b44e4c0",
            "ab48309dde027335",
            "0d34b4b3cf80a6a9"
        ],
        "x": 134,
        "y": 159,
        "w": 592,
        "h": 182
    },
    {
        "id": "131bdc0a35fa0d2e",
        "type": "group",
        "z": "dacb2b5a68bc15c1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b0ade00a9258630f",
            "31d05b3f784f4bb9",
            "3b0e259349ec2626",
            "61bede6ac44c7bbf",
            "5da5b1e8b651c539",
            "98de7a82ad0abd80",
            "6033e37c4909203f",
            "32c9920c6fbf165b"
        ],
        "x": 134,
        "y": 399,
        "w": 752,
        "h": 222
    },
    {
        "id": "91984a41f6cbcf11",
        "type": "group",
        "z": "dacb2b5a68bc15c1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "72d80cb73767c8b3",
            "f04035393c78b3c6",
            "682efef0d1783dad",
            "d17bde63c0a992e5",
            "7359fb06f3d3d8f6",
            "1354fb4fcc398c49",
            "4cb97de86a4fc6d5",
            "e26fa176cb34138b",
            "d63abecaed3844bc",
            "978d267e3dde0f60",
            "d0a0ef2b75624d52"
        ],
        "x": 134,
        "y": 639,
        "w": 712,
        "h": 262
    },
    {
        "id": "5235559ac22aedb1",
        "type": "dds-settings",
        "domain": "0"
    },
    {
        "id": "e94989fc7bf5f58a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "grey",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "RoboCAR Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "icon",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "668436dd4eb442a2",
        "type": "ui-page",
        "name": "Energía",
        "ui": "63606fc521418a33",
        "path": "/energia",
        "icon": "home",
        "layout": "grid",
        "theme": "18013f8a9dd24edd",
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": "false"
    },
    {
        "id": "0e4fa17b6d95f33c",
        "type": "ui-page",
        "name": "Movimiento",
        "ui": "63606fc521418a33",
        "path": "/movimiento",
        "icon": "home",
        "layout": "grid",
        "theme": "18013f8a9dd24edd",
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": "false"
    },
    {
        "id": "4409a7cb93f75213",
        "type": "ui-page",
        "name": "RPi",
        "ui": "63606fc521418a33",
        "path": "/rpi",
        "icon": "home",
        "layout": "grid",
        "theme": "18013f8a9dd24edd",
        "order": 3,
        "className": "",
        "visible": true,
        "disabled": "false"
    },
    {
        "id": "7058f11795aca1ae",
        "type": "ui-group",
        "name": "bateria",
        "page": "668436dd4eb442a2",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "27c3a404db4cbc8d",
        "type": "ui-group",
        "name": "Potencia",
        "page": "668436dd4eb442a2",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "465e99682c896a4f",
        "type": "ui-group",
        "name": "Salud baterías",
        "page": "668436dd4eb442a2",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "f5daaa94132fd9e7",
        "type": "ui-group",
        "name": "aceleracion",
        "page": "0e4fa17b6d95f33c",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "8991d06f12de5c1f",
        "type": "ui-group",
        "name": "rpi",
        "page": "4409a7cb93f75213",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "18013f8a9dd24edd",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "63606fc521418a33",
        "type": "ui-base",
        "name": "RPi",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "ebac1d3fce204d8c",
        "type": "ui-group",
        "name": "Camara",
        "page": "65913d76b17993a1",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "afe875cc991fdc8b",
        "type": "ui-page",
        "name": "Imagen",
        "ui": "63606fc521418a33",
        "path": "/imagen",
        "icon": "home",
        "layout": "grid",
        "theme": "18013f8a9dd24edd",
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1515c0f3355fcb3c",
        "type": "ui-group",
        "name": "Camara",
        "page": "afe875cc991fdc8b",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "7457ca1f3811789b",
        "type": "Subscriber",
        "z": "dacb2b5a68bc15c1",
        "topic": "energy",
        "domain": "5235559ac22aedb1",
        "props": [],
        "selectedtype": "messages_pkg/msg/Energy",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "c0be8b6cef6eba92",
                "8b7173958f7bf249"
            ]
        ]
    },
    {
        "id": "7ed71dd9842d7d26",
        "type": "ROS2 Type",
        "z": "dacb2b5a68bc15c1",
        "ros2pkg": "messages_pkg",
        "ros2message": "Energy",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "7457ca1f3811789b"
            ]
        ]
    },
    {
        "id": "47ad31bf9b44e4c0",
        "type": "function",
        "z": "dacb2b5a68bc15c1",
        "g": "f1d4d53cfd0488eb",
        "name": "function 8",
        "func": "msg.topic = \"Carga Batería\"\nmsg.payload = msg.payload.voltage_battery_1 + 0.2\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 200,
        "wires": [
            [
                "ab48309dde027335"
            ]
        ]
    },
    {
        "id": "ab48309dde027335",
        "type": "range",
        "z": "dacb2b5a68bc15c1",
        "g": "f1d4d53cfd0488eb",
        "minin": "10.2",
        "maxin": "12.6",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "6ed831f590f24fee",
                "18700f688b843fa0"
            ]
        ]
    },
    {
        "id": "8b7173958f7bf249",
        "type": "debug",
        "z": "dacb2b5a68bc15c1",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "0d34b4b3cf80a6a9",
        "type": "inject",
        "z": "dacb2b5a68bc15c1",
        "g": "f1d4d53cfd0488eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 410,
        "y": 300,
        "wires": [
            [
                "18700f688b843fa0"
            ]
        ]
    },
    {
        "id": "b0ade00a9258630f",
        "type": "function",
        "z": "dacb2b5a68bc15c1",
        "g": "131bdc0a35fa0d2e",
        "name": "function 9",
        "func": "\n\n\nmsg.topic = \"potencia\"\nmsg.payload = Math.round((msg.payload.voltage_battery_1 * msg.payload.current/1000)*100)/100\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 440,
        "wires": [
            [
                "31d05b3f784f4bb9",
                "3b0e259349ec2626",
                "6033e37c4909203f"
            ]
        ]
    },
    {
        "id": "c0be8b6cef6eba92",
        "type": "link out",
        "z": "dacb2b5a68bc15c1",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "2993906ee3fbfddc",
            "9ba048c7bc4b77cb",
            "0704f3daf8da381d"
        ],
        "x": 585,
        "y": 60,
        "wires": []
    },
    {
        "id": "2993906ee3fbfddc",
        "type": "link in",
        "z": "dacb2b5a68bc15c1",
        "name": "link in 1",
        "links": [
            "c0be8b6cef6eba92"
        ],
        "x": 85,
        "y": 220,
        "wires": [
            [
                "47ad31bf9b44e4c0"
            ]
        ]
    },
    {
        "id": "9ba048c7bc4b77cb",
        "type": "link in",
        "z": "dacb2b5a68bc15c1",
        "name": "link in 2",
        "links": [
            "c0be8b6cef6eba92"
        ],
        "x": 85,
        "y": 440,
        "wires": [
            [
                "b0ade00a9258630f"
            ]
        ]
    },
    {
        "id": "61bede6ac44c7bbf",
        "type": "inject",
        "z": "dacb2b5a68bc15c1",
        "g": "131bdc0a35fa0d2e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 270,
        "y": 560,
        "wires": [
            [
                "3b0e259349ec2626",
                "32c9920c6fbf165b"
            ]
        ]
    },
    {
        "id": "98de7a82ad0abd80",
        "type": "debug",
        "z": "dacb2b5a68bc15c1",
        "g": "131bdc0a35fa0d2e",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 580,
        "wires": []
    },
    {
        "id": "6033e37c4909203f",
        "type": "function",
        "z": "dacb2b5a68bc15c1",
        "g": "131bdc0a35fa0d2e",
        "name": "function 10",
        "func": "var energia = context.flow.get(\"energia\")\nenergia = energia + msg.payload/3600\ncontext.flow.set(\"energia\",energia)\nmsg.payload = energia.toFixed(2)\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 540,
        "wires": [
            [
                "5da5b1e8b651c539",
                "98de7a82ad0abd80"
            ]
        ]
    },
    {
        "id": "32c9920c6fbf165b",
        "type": "change",
        "z": "dacb2b5a68bc15c1",
        "g": "131bdc0a35fa0d2e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "energia",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "72d80cb73767c8b3",
        "type": "function",
        "z": "dacb2b5a68bc15c1",
        "g": "91984a41f6cbcf11",
        "name": "function 11",
        "func": "msg.topic = \"Celda 2\"\nmsg.payload = msg.payload.voltage_battery_2 - msg.payload.voltage_battery_3\nmsg.payload = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 780,
        "wires": [
            [
                "4cb97de86a4fc6d5",
                "d0a0ef2b75624d52"
            ]
        ]
    },
    {
        "id": "f04035393c78b3c6",
        "type": "function",
        "z": "dacb2b5a68bc15c1",
        "g": "91984a41f6cbcf11",
        "name": "function 12",
        "func": "msg.topic = \"Celda 3\"\nmsg.payload = msg.payload.voltage_battery_3\nmsg.payload = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 840,
        "wires": [
            [
                "4cb97de86a4fc6d5",
                "978d267e3dde0f60"
            ]
        ]
    },
    {
        "id": "682efef0d1783dad",
        "type": "function",
        "z": "dacb2b5a68bc15c1",
        "g": "91984a41f6cbcf11",
        "name": "function 13",
        "func": "msg.topic = \"Celda 1\"\nmsg.payload = msg.payload.voltage_battery_1 - msg.payload.voltage_battery_2\n//msg.payload = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 720,
        "wires": [
            [
                "4cb97de86a4fc6d5",
                "d63abecaed3844bc"
            ]
        ]
    },
    {
        "id": "0704f3daf8da381d",
        "type": "link in",
        "z": "dacb2b5a68bc15c1",
        "name": "link in 3",
        "links": [
            "c0be8b6cef6eba92"
        ],
        "x": 75,
        "y": 780,
        "wires": [
            [
                "682efef0d1783dad",
                "72d80cb73767c8b3",
                "f04035393c78b3c6"
            ]
        ]
    },
    {
        "id": "e26fa176cb34138b",
        "type": "inject",
        "z": "dacb2b5a68bc15c1",
        "g": "91984a41f6cbcf11",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 590,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "d63abecaed3844bc",
        "type": "function",
        "z": "dacb2b5a68bc15c1",
        "g": "91984a41f6cbcf11",
        "name": "function 14",
        "func": "msg.payload = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 680,
        "wires": [
            [
                "d17bde63c0a992e5"
            ]
        ]
    },
    {
        "id": "d0a0ef2b75624d52",
        "type": "function",
        "z": "dacb2b5a68bc15c1",
        "g": "91984a41f6cbcf11",
        "name": "function 15",
        "func": "msg.payload = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 760,
        "wires": [
            [
                "7359fb06f3d3d8f6"
            ]
        ]
    },
    {
        "id": "978d267e3dde0f60",
        "type": "function",
        "z": "dacb2b5a68bc15c1",
        "g": "91984a41f6cbcf11",
        "name": "function 16",
        "func": "msg.payload = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 860,
        "wires": [
            [
                "1354fb4fcc398c49"
            ]
        ]
    },
    {
        "id": "5da5b1e8b651c539",
        "type": "ui-text",
        "z": "dacb2b5a68bc15c1",
        "g": "131bdc0a35fa0d2e",
        "group": "27c3a404db4cbc8d",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "Energia consumida",
        "label": "Energía Consumida (Wh)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "d17bde63c0a992e5",
        "type": "ui-text",
        "z": "dacb2b5a68bc15c1",
        "g": "91984a41f6cbcf11",
        "group": "465e99682c896a4f",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "Celda 1",
        "label": "Celda 1 (V)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 560,
        "y": 700,
        "wires": []
    },
    {
        "id": "7359fb06f3d3d8f6",
        "type": "ui-text",
        "z": "dacb2b5a68bc15c1",
        "g": "91984a41f6cbcf11",
        "group": "465e99682c896a4f",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "Celda 2",
        "label": "Celda 2 (V)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 560,
        "y": 760,
        "wires": []
    },
    {
        "id": "1354fb4fcc398c49",
        "type": "ui-text",
        "z": "dacb2b5a68bc15c1",
        "g": "91984a41f6cbcf11",
        "group": "465e99682c896a4f",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "Celda 3",
        "label": "Celda 3 (V)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 560,
        "y": 820,
        "wires": []
    },
    {
        "id": "18700f688b843fa0",
        "type": "ui-chart",
        "z": "dacb2b5a68bc15c1",
        "g": "f1d4d53cfd0488eb",
        "group": "7058f11795aca1ae",
        "name": "histórico de carga",
        "label": "Curva de carga batería",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": "2",
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "width": "2",
        "height": "4",
        "className": "",
        "x": 610,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "3b0e259349ec2626",
        "type": "ui-chart",
        "z": "dacb2b5a68bc15c1",
        "g": "131bdc0a35fa0d2e",
        "group": "27c3a404db4cbc8d",
        "name": "histórico de potencia",
        "label": "Curva de potencia",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": "2",
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "width": "2",
        "height": "4",
        "className": "",
        "x": 560,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "4cb97de86a4fc6d5",
        "type": "ui-chart",
        "z": "dacb2b5a68bc15c1",
        "g": "91984a41f6cbcf11",
        "group": "465e99682c896a4f",
        "name": "Equilibrio celdas",
        "label": "Ewuilibrio celdas",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": "2",
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "width": "2",
        "height": "4",
        "className": "",
        "x": 740,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "6ed831f590f24fee",
        "type": "ui-gauge",
        "z": "dacb2b5a68bc15c1",
        "g": "f1d4d53cfd0488eb",
        "name": "Carga de baterías",
        "group": "7058f11795aca1ae",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Carga Baterías",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353"
            },
            {
                "from": "20",
                "color": "#5cd65c"
            },
            {
                "from": "100",
                "color": "#000000"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "31d05b3f784f4bb9",
        "type": "ui-gauge",
        "z": "dacb2b5a68bc15c1",
        "g": "131bdc0a35fa0d2e",
        "name": "Potencia",
        "group": "27c3a404db4cbc8d",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Potencia",
        "units": "W",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "15",
                "color": "#ea5353"
            },
            {
                "from": "30",
                "color": "#000000"
            }
        ],
        "min": 0,
        "max": "30",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 540,
        "y": 440,
        "wires": []
    },
    {
        "id": "a6fe0573e542db70",
        "type": "ROS2 Type",
        "z": "27beda28a8df6d75",
        "ros2pkg": "sensor_msgs",
        "ros2message": "Imu",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "7eebb37f89d33d0a"
            ]
        ]
    },
    {
        "id": "7eebb37f89d33d0a",
        "type": "Subscriber",
        "z": "27beda28a8df6d75",
        "topic": "imu",
        "domain": "5235559ac22aedb1",
        "props": [],
        "selectedtype": "sensor_msgs/msg/Imu",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "7a40f2149220fceb",
                "94c39a4f6be0abb8"
            ]
        ]
    },
    {
        "id": "7a40f2149220fceb",
        "type": "debug",
        "z": "27beda28a8df6d75",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "94c39a4f6be0abb8",
        "type": "link out",
        "z": "27beda28a8df6d75",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "ab7318fd32441efb"
        ],
        "x": 605,
        "y": 120,
        "wires": []
    },
    {
        "id": "ab7318fd32441efb",
        "type": "link in",
        "z": "27beda28a8df6d75",
        "name": "link in 4",
        "links": [
            "94c39a4f6be0abb8"
        ],
        "x": 125,
        "y": 300,
        "wires": [
            [
                "a63afb544cbdea36",
                "3f22772b5e44e9af"
            ]
        ]
    },
    {
        "id": "78e8d3d8439f5e8c",
        "type": "function",
        "z": "27beda28a8df6d75",
        "name": "function 17",
        "func": "msg.payload = { \"x\": msg.payload.linear_acceleration.x, \"y\": msg.payload.linear_acceleration.y}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 320,
        "wires": [
            [
                "60d0036ed019ae3b"
            ]
        ]
    },
    {
        "id": "a63afb544cbdea36",
        "type": "function",
        "z": "27beda28a8df6d75",
        "name": "function 18",
        "func": "msg.payload = []\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3f22772b5e44e9af",
        "type": "delay",
        "z": "27beda28a8df6d75",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "78e8d3d8439f5e8c"
            ]
        ]
    },
    {
        "id": "60d0036ed019ae3b",
        "type": "ui-chart",
        "z": "27beda28a8df6d75",
        "group": "f5daaa94132fd9e7",
        "name": "",
        "label": "chart",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "width": 6,
        "height": 8,
        "className": "",
        "x": 650,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6bceed94a098851d",
        "type": "Subscriber",
        "z": "f3c80216c5dbfd7c",
        "topic": "camera_image",
        "domain": "5235559ac22aedb1",
        "props": [],
        "selectedtype": "sensor_msgs/msg/Image",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "ec7ff8156207e80b"
            ]
        ]
    },
    {
        "id": "4127d675863a0849",
        "type": "ROS2 Type",
        "z": "f3c80216c5dbfd7c",
        "ros2pkg": "sensor_msgs",
        "ros2message": "Image",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "6bceed94a098851d"
            ]
        ]
    },
    {
        "id": "ec7ff8156207e80b",
        "type": "image viewer",
        "z": "f3c80216c5dbfd7c",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 690,
        "y": 100,
        "wires": [
            [
                "0186847ad1e1bc43"
            ]
        ]
    },
    {
        "id": "0186847ad1e1bc43",
        "type": "debug",
        "z": "f3c80216c5dbfd7c",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 100,
        "wires": []
    },
    {
        "id": "374e1264bd0dbc36",
        "type": "ui-webcam",
        "z": "f3c80216c5dbfd7c",
        "name": "",
        "group": "1515c0f3355fcb3c",
        "width": "6",
        "height": "5",
        "passthru": false,
        "x": 470,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "25dca60bbcec0d61",
        "type": "base64",
        "z": "f3c80216c5dbfd7c",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 300,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e39c3cb3d88f3e5d",
        "type": "Subscriber",
        "z": "b68fe3d0192d3bcb",
        "topic": "ultrasound_data",
        "domain": "5235559ac22aedb1",
        "props": [],
        "selectedtype": "messages_pkg/msg/Distance",
        "x": 630,
        "y": 200,
        "wires": [
            [
                "106562d51fcd0f25",
                "ultrasonic1_template"
            ]
        ]
    },
    {
        "id": "59d5452f44a040d9",
        "type": "ROS2 Type",
        "z": "b68fe3d0192d3bcb",
        "ros2pkg": "messages_pkg",
        "ros2message": "Distance",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "e39c3cb3d88f3e5d"
            ]
        ]
    },
    {
        "id": "106562d51fcd0f25",
        "type": "debug",
        "z": "b68fe3d0192d3bcb",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "ultrasonic1_template",
        "type": "ui_template",
        "z": "b68fe3d0192d3bcb",
        "group": "",
        "name": "Ultrasonic Sensor 1 Template",
        "width": "",
        "height": "",
        "format": "<svg width=\"200\" height=\"200\">\n    <circle id=\"sensor1_circle\" cx=\"100\" cy=\"100\" r=\"{{msg.payload}}\" stroke=\"black\" stroke-width=\"3\" fill=\"red\" />\n</svg>\n<script>\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            var circle = document.getElementById('sensor1_circle');\n            if (data < 20) {\n                circle.setAttribute('fill', 'red');\n            } else {\n                circle.setAttribute('fill', 'green');\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "0c9e253f1c5a3274",
        "type": "exec",
        "z": "71b4fa526bc1e501",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "RPi Temp.",
        "x": 325.2221908569336,
        "y": 46.33333683013916,
        "wires": [
            [
                "698a4c1956701006"
            ],
            [],
            []
        ]
    },
    {
        "id": "75002c628b7e31e6",
        "type": "inject",
        "z": "71b4fa526bc1e501",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 107.49996185302734,
        "y": 46.805556297302246,
        "wires": [
            [
                "0c9e253f1c5a3274",
                "347eece899fe39fe",
                "749e2dcd28f635ee"
            ]
        ]
    },
    {
        "id": "698a4c1956701006",
        "type": "function",
        "z": "71b4fa526bc1e501",
        "name": "",
        "func": "str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 471.888858795166,
        "y": 33.00000190734863,
        "wires": [
            [
                "1d8d9b0c98d0d230"
            ]
        ]
    },
    {
        "id": "a0238cb6a0bde472",
        "type": "exec",
        "z": "71b4fa526bc1e501",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reboot",
        "x": 320,
        "y": 320,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "10c01b8e9a4a83ca",
        "type": "exec",
        "z": "71b4fa526bc1e501",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Shutdown",
        "x": 324.1666564941406,
        "y": 386.6944923400879,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "347eece899fe39fe",
        "type": "exec",
        "z": "71b4fa526bc1e501",
        "command": "top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "CPU Load",
        "x": 325.2221908569336,
        "y": 126.33333683013916,
        "wires": [
            [
                "8ef73093b6a15565"
            ],
            [],
            []
        ]
    },
    {
        "id": "749e2dcd28f635ee",
        "type": "exec",
        "z": "71b4fa526bc1e501",
        "command": "free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Free Memory",
        "x": 325.2222099304199,
        "y": 190.55557250976562,
        "wires": [
            [
                "4d070d474e4cacaf"
            ],
            [],
            []
        ]
    },
    {
        "id": "2ef123af07d61752",
        "type": "exec",
        "z": "71b4fa526bc1e501",
        "command": "df -h",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Disk Usage",
        "x": 322.88884353637695,
        "y": 258.2222442626953,
        "wires": [
            [
                "6f133b38ac823b8f"
            ],
            [],
            []
        ]
    },
    {
        "id": "6f133b38ac823b8f",
        "type": "function",
        "z": "71b4fa526bc1e501",
        "name": "",
        "func": "var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470.66661071777344,
        "y": 244.88890171051025,
        "wires": [
            [
                "29d8e230bb959a36"
            ]
        ]
    },
    {
        "id": "e541b23aae791561",
        "type": "inject",
        "z": "71b4fa526bc1e501",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 122.88884353637695,
        "y": 258.2222442626953,
        "wires": [
            [
                "2ef123af07d61752"
            ]
        ]
    },
    {
        "id": "a5dd831f531dd1a8",
        "type": "inject",
        "z": "71b4fa526bc1e501",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 118.90821075439453,
        "y": 445.567081451416,
        "wires": [
            [
                "7f13d7befd99e67b"
            ]
        ]
    },
    {
        "id": "7f13d7befd99e67b",
        "type": "exec",
        "z": "71b4fa526bc1e501",
        "command": "hostname",
        "addpay": false,
        "append": "-I",
        "useSpawn": "",
        "timer": "",
        "name": "Get Local IP",
        "x": 323.4637641906738,
        "y": 446.06709480285645,
        "wires": [
            [
                "2c3cae7ae0bc333b"
            ],
            [],
            []
        ]
    },
    {
        "id": "8ef73093b6a15565",
        "type": "ui-gauge",
        "z": "71b4fa526bc1e501",
        "name": "cpu",
        "group": "8991d06f12de5c1f",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Carga CPU",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "80",
                "color": "#ffc800"
            },
            {
                "from": "90",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "4d070d474e4cacaf",
        "type": "ui-gauge",
        "z": "71b4fa526bc1e501",
        "name": "Free Memory",
        "group": "8991d06f12de5c1f",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Memoria Libre",
        "units": "MB",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#d65c5c"
            },
            {
                "from": "20000",
                "color": "#ffc800"
            },
            {
                "from": "100000",
                "color": "#e7ea53"
            },
            {
                "from": "3000000",
                "color": "#0ce931"
            }
        ],
        "min": 0,
        "max": "4000000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "29d8e230bb959a36",
        "type": "ui-gauge",
        "z": "71b4fa526bc1e501",
        "name": "Uso Disco",
        "group": "8991d06f12de5c1f",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Uso de Disco",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "80",
                "color": "#ffc800"
            },
            {
                "from": "90",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "2c3cae7ae0bc333b",
        "type": "ui-text",
        "z": "71b4fa526bc1e501",
        "group": "8991d06f12de5c1f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dirección IP",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "ae320932f6c9d035",
        "type": "ui-button",
        "z": "71b4fa526bc1e501",
        "group": "8991d06f12de5c1f",
        "name": "",
        "label": "Reboot",
        "order": 7,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "a0238cb6a0bde472"
            ]
        ]
    },
    {
        "id": "3ad4e73abebaa248",
        "type": "ui-button",
        "z": "71b4fa526bc1e501",
        "group": "8991d06f12de5c1f",
        "name": "",
        "label": "Shutdown",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "10c01b8e9a4a83ca"
            ]
        ]
    },
    {
        "id": "1d8d9b0c98d0d230",
        "type": "ui-gauge",
        "z": "71b4fa526bc1e501",
        "name": "Temperatura",
        "group": "8991d06f12de5c1f",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura",
        "units": "ºC",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "60",
                "color": "#ffc800"
            },
            {
                "from": "80",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 670,
        "y": 40,
        "wires": []
    }
]